{% extends "base.html" %}
{% comment %} This is kind of like importing the base.html file. Always write extends at the top of file otherwise django will throw error. {% endcomment %}

{% comment %} Load static is kind of like importing a plugin {% endcomment %}
{% load static %}

{% comment %} 
To use css files, use this method
the static in href is coming from the settings.py file,
so the path constructued would be static/challenges/challenges.css
{% endcomment %}
{% block css_files %}
<link rel="stylesheet" href="{% static "challenges/challenges.css" %}">
<link rel="stylesheet" href="{% static "challenges/includes/header.css" %}">
{% endblock %}

{% block page_title %}
    All Challenges
{% endblock %}

{% block content %}
{% comment %} include is kind of like calling component of react, header.html is the component and we are calling it here {% endcomment %}
{% include "./includes/header.html" %}
    <ul>
        {% for month in months %}
        <li><a href="{% url "month-challenge" month=month %}">{{ month|title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
